
.cloud2{
    padding-top: 2px;
    border-right: 2px solid white;
    color: aliceblue;
    /* align-items: center; */
    display: flex;
    justify-content: center;
}
.sun3{
    color: blue;
}
#main1{
    display: flex;
    /* overflow-x: scroll;
    overflow-y: scroll; */
    justify-content: center;
    background-color: rgb(95, 95, 127,0.3);
}

#forcol{
    border-right: 2px solid white;
    text-align: center;
    width: 15vw;
    color: aliceblue;
    
    
}